@import "tailwindcss";

@theme {
	--color-indigo-ink: #27187e;

	--color-ink-black: #0d0e20;

	--color-ghost-white: #f7f7ff;

	--color-punch-red-50: oklch(94.65% 0.024 8.17);
	--color-punch-red-100: oklch(89.57% 0.049 10.22);
	--color-punch-red-200: oklch(79.6% 0.105 12.32);
	--color-punch-red-300: oklch(70.82% 0.161 15.08);
	--color-punch-red-400: oklch(64.03% 0.211 19.22);
	--color-punch-red-500: oklch(60.01% 0.238 25.06);
	--color-punch-red-600: oklch(50.93% 0.2 24.54);
	--color-punch-red-700: oklch(41.26% 0.16 24.05);
	--color-punch-red-800: oklch(31.18% 0.118 23.02);
	--color-punch-red-900: oklch(20.1% 0.07 18.79);
	--color-punch-red-950: oklch(16.33% 0.057 15.52);

	--color-princeton-orange-50: oklch(96.73% 0.021 67.58);
	--color-princeton-orange-100: oklch(93.6% 0.042 66.12);
	--color-princeton-orange-200: oklch(87.29% 0.084 64.03);
	--color-princeton-orange-300: oklch(81.57% 0.125 62.63);
	--color-princeton-orange-400: oklch(76.39% 0.159 59.13);
	--color-princeton-orange-500: oklch(71.75% 0.184 51.74);
	--color-princeton-orange-600: oklch(60.97% 0.154 52.68);
	--color-princeton-orange-700: oklch(49.52% 0.123 53.52);
	--color-princeton-orange-800: oklch(37.36% 0.091 55.16);
	--color-princeton-orange-900: oklch(24.33% 0.054 61.79);
	--color-princeton-orange-950: oklch(19.94% 0.043 63.94);

	--font-sans: "Lato", Helvetica, sans-serif;
	--font-serif: "Raleway", Helvetica, sans-serif;
}

html {
	scroll-behavior: smooth;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
}

body {
	font-family: "Lato", Helvetica, sans-serif;
	color: var(--color-ink-black);
	font-weight: medium;
	line-height: 2em;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background: var(--color-ghost-white);
}

::-webkit-scrollbar-thumb {
	background: var(--color-indigo-ink);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway", Helvetica, sans-serif;
	letter-spacing: -4%;
}

p,
span,
button,
a,
i,
strong,
li,
b,
em,
small,
label,
input,
textarea,
select {
	letter-spacing: 2%;
}

button {
	cursor: pointer;
}
