---
import TechStack from "./TechStack.astro";
---

<section class="w-5/6 mx-auto py-20" id="about">

    <h2 class="text-4xl mb-6 font-bold">Acerca de mí</h2>

    <div class="w-1/2">
        <p class="text-xl mb-3 leading-8">Mi nombre es Sergio Gutierrez, soy un desarrollador web con 3 años de experiencia en el desarrollo de páginas web, ecommerce, web corporativas, landing pages y soluciones personalizadas.</p>
        <p class="text-xl mb-3 leading-8">Disfruto mucho el trabajar en proyectos emocionantes y que tengan un valor cliente-usuario importante. Más que desarrollar soluciones y automatizar procesos, hago más fácil tu negocio para tí y para tus clientes.</p>
        <p class="text-xl mb-3 leading-8">Soy de Venezuela, un país al norte de suramérica. Me gusta el café, el anime, y adoro las buenas ideas :).</p>
    </div>

    <div><img src="" alt=""></div>

</section>
<TechStack />