---
---
<section id="hero">
    <div class="container mx-auto px-4 py-20 text-center">
        <h1 class="text-4xl md:text-6xl font-bold mb-4">Sergio Gutierrez</h1>
        <p class="text-xl md:text-2xl mb-8">Full Stack Web Developer</p>
        <a href="#projects" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-full transition duration-300">Ver Proyectos</a>
    </div>
</section>