---
---
<section id="hero relative">
    <div class="bg-image -z-1 absolute top-0 left-0 w-full h-full overflow-hidden mix-blend-multiply opacity-10">
        <img src="/mangadots.jpg" alt="Fondo Hero" class="w-full h-full object-cover">
    </div>
    <div class="container px-4 py-20">
        <h1 class="text-4xl md:text-[8em] font-bold mb-4">Sergio Gutierrez</h1>
        <p class="text-xl md:text-4xl mb-16">Full Stack Web Developer</p>
        <a href="#projects" class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-3 px-6 rounded-full transition duration-300">Ver Proyectos</a>
    </div>
</section>