---
---

<section class="w-5/6 mx-auto py-20" id="projects">
    <h2 class="text-4xl mb-6 font-bold">Proyectos</h2>
    <p class="text-xl mb-3 leading-8">Aquí algunos de mis trabajos recientes:</p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
            <img src="/projects/project1.png" alt="Proyecto 1" class="w-full h-48 object-cover mb-4 rounded">
            <h3 class="text-2xl mb-2">Proyecto 1</h3>
            <p class="text-lg">Descripción breve del proyecto 1.</p>
        </div>
        <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
            <img src="/projects/project2.png" alt="Proyecto 2" class="w-full h-48 object-cover mb-4 rounded">
            <h3 class="text-2xl mb-2">Proyecto 2</h3>
            <p class="text-lg">Descripción breve del proyecto 2.</p>
        </div>
        <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
            <img src="/projects/project3.png" alt="Proyecto 3" class="w-full h-48 object-cover mb-4 rounded">
            <h3 class="text-2xl mb-2">Proyecto 3</h3>
            <p class="text-lg">Descripción breve del proyecto 3.</p>
        </div>
        <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
            <img src="/projects/project4.png" alt="Proyecto 4" class="w-full h-48 object-cover mb-4 rounded">
            <h3 class="text-2xl mb-2">Proyecto 4</h3>
            <p class="text-lg">Descripción breve del proyecto 4.</p>
        </div>
        <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
            <img src="/projects/project5.png" alt="Proyecto 5" class="w-full h-48 object-cover mb-4 rounded">
            <h3 class="text-2xl mb-2">Proyecto 5</h3>
            <p class="text-lg">Descripción breve del proyecto 5.</p>
        </div>
    </div>
</section>