---
---

<section class="w-5/6 mx-auto py-20" id="tech-stack">
    <h2 class="text-4xl mb-3 font-bold">Tech Stack</h2>
    <p class="text-xl mb-6 leading-8">Aquí algunas de las tecnologías con las que trabajo:</p>
    <div class="grid grid-cols-3 md:grid-cols-6 gap-4">
        <div class="flex flex-col items-center transform hover:scale-[1.05] transition duration-300 cursor-pointer">
            <img src="/html5.svg" alt="HTML5" class="w-16 h-16 mb-2">
            <span>HTML5</span>
        </div>
        <div class="flex flex-col items-center transform hover:scale-[1.05] transition duration-300 cursor-pointer">
            <img src="/css3.svg" alt="CSS3" class="w-16 h-16 mb-2">
            <span>CSS3</span>
        </div>
        <div class="flex flex-col items-center transform hover:scale-[1.05] transition duration-300 cursor-pointer">
            <img src="/javascript.svg" alt="JavaScript" class="w-16 h-16 mb-2">
            <span>JavaScript</span>
        </div>
        <div class="flex flex-col items-center transform hover:scale-[1.05] transition duration-300 cursor-pointer">
            <img src="/react.svg" alt="React" class="w-16 h-16 mb-2">
            <span>React</span>
        </div>
        <div class="flex flex-col items-center transform hover:scale-[1.05] transition duration-300 cursor-pointer">
            <img src="/nodejs.svg" alt="Node.js" class="w-16 h-16 mb-2">
            <span>Node.js</span>
        </div>
        <div class="flex flex-col items-center transform hover:scale-[1.05] transition duration-300 cursor-pointer">
            <img src="/astro.svg" alt="Astro" class="w-16 h-16 mb-2">
            <span>Astro</span>
        </div>
        <div class="flex flex-col items-center transform hover:scale-[1.05] transition duration-300 cursor-pointer">
            <img src="/php.svg" alt="PHP" class="w-16 h-16 mb-2">
            <span>PHP</span>
        </div>
        <div class="flex flex-col items-center transform hover:scale-[1.05] transition duration-300 cursor-pointer">
            <img src="/laravel.svg" alt="Laravel" class="w-16 h-16 mb-2">
            <span>Laravel</span>
        </div>
        <div class="flex flex-col items-center transform hover:scale-[1.05] transition duration-300 cursor-pointer">
            <img src="/mysql.svg" alt="MySQL" class="w-16 h-16 mb-2">
            <span>MySQL</span>
        </div>
        <div class="flex flex-col items-center transform hover:scale-[1.05] transition duration-300 cursor-pointer">
            <img src="/mongodb.svg" alt="MongoDB" class="w-16 h-16 mb-2">
            <span>MongoDB</span>
        </div>
        <div class="flex flex-col items-center transform hover:scale-[1.05] transition duration-300 cursor-pointer">
            <img src="/github.svg" alt="GitHub" class="w-16 h-16 mb-2">
            <span>GitHub</span>
        </div>
    </div>
</section>